
* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav  {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px #0521f7;

}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav li {
    margin: 20px;
    color: #111;
    font-weight: bold;

}
nav a{
    text-decoration: none;
    color: #111;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}

.mouseenter {
    background: rgb(4, 181, 246);
}